.loading-img {
  background: url(https://cdn.jsdelivr.net/gh/NShinobu/PictureCDN/mainPictures/head.jpg) no-repeat center center;
  background-size: cover;
}


/* 翻页按钮居中 */
#pagination {
	width: 100%;
	margin: auto;
  }